body{
    background-color:#D6E4E5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-color:#B2B2B2;
    border-width:7px;
    width:20%;
}

h1{
    color:#679186;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    line-height: 2;
}

h2, h3{
    color: #679186;
}

p{
    width: 40%;
    margin: auto;
}

.top-container{
    position: relative;
    padding: 60px 0px 60px 0px;
}

.profile-picture{
    height: 150px;
}

.cloud1{
    position: absolute;
    top: 50px;
    right: 400px;
}

.cloud2{
    position: absolute;
    top: 250px;
    left:400px ;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code{
    width: 25%;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.chiles{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.code-skill{
    width: 100%;
}

.chiles-skill{
    width: 100%;
}