body{
    background-color:#ade7da;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-color:dimgray;
    border-width:7px;
    width:20%;
}

h1{
    color:#679186;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
}

h2, h3{
    color: #679186;
}

.top-container{
    position: relative;
    padding-top: 70px;
}

.profile-picture{
    height: 150px;
}

.cloud1{
    position: absolute;
    top: 50px;
    right: 400px;
}

.cloud2{
    position: absolute;
    top: 250px;
    left:400px ;
}